@{
    ViewData["Title"] = "PG Management System";
}

<div class="text-center">
    <h1 class="display-4">Welcome To PG Management System</h1>
    <p>This System has been created by Indrajeet Roy.</a>.</p>
</div>